<!DOCTYPE html>
<html lang="en">
	<head>
		<title>diceCraft</title>
			<script type="text/javascript" src="jquery-1.10.2.min.js" defer></script>
			<script src="kinetic-v4.5.4.min.js" defer></script>
			<script type="text/javascript" src="map.js" defer></script>
			<script type="text/javascript" src="image.js" defer></script>
			<script type="text/javascript" src="block.js" defer></script>
			<script type="text/javascript" src="player.js" defer></script>
			<script type="text/javascript" src="board.js" defer></script>
			<script type="text/javascript" src="engine.js" defer></script>
			<link rel="stylesheet" type="text/css" href="diceCraft.css"/>
	</head>
	<body>
		<div id="container"></div>
		<button id="finishMove">
			Finish Move
		</button>
		<p id="currentPlayer">Current Player: </p>
		<p id="round">Round: 1</p>
	</body>
</html>