doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/diceCraft.css')
    script(src='/javascripts/jquery-1.10.2.min.js', defer)
    script(src='/javascripts/kinetic-v4.6.0.js', defer)
    script(src='/javascripts/map.js', defer)
    script(src='/javascripts/image.js', defer)
    script(src='/javascripts/block.js', defer)
    script(src='/javascripts/player.js', defer)
    script(src='/javascripts/board.js', defer)
    script(src='/javascripts/engine.js', defer)
  body
    block content
